html {
  background-color: #fff;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.header { grid-area: header }
.g1 { grid-area: g1}
.g1-tiny { grid-area: g1-tiny}

body {
  display: grid;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 5fr 1fr 1fr 3fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  grid-template-areas:
  "header header header header .   .        . "
  ".      g1     g1     .      .   g1-tiny  . ";
}

h1 {
  font-weight: 200;
  /* TODO: Relative font sizing */
  font-size: 42px;
  letter-spacing: 0;
  line-height: 50px;
}

h2, h3 {
  font-size: 16px;
  letter-spacing: 1.1px;
  line-height: 20px;
}

h4, h5 {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 26px;
  text-transform: uppercase;
}

hr.thick {
  border-top: 10px solid #000;
}

hr {
  border-top: 2px solid #000;
}

.normal {
  font-style: normal;
}

.italic {
  font-style: italic;
}
