html {
  background-color: #fff;
  --unit: 5px;
}

/* TYPOGRAPHY  */

h1 {
  font-weight: 500;
  /* TODO: Relative font sizing */
  font-size: 42px;
  margin: 0;
  letter-spacing: -1.2px;
  line-height: 50px;
}

h2, h3 {
  margin: 0;
  margin-bottom: 3px;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 25px;
}

h3 {
  font-size: 16px;
  margin-bottom: 0;
}

h4, h5 {
  margin: 0;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;
}

hr.thick {
  border-top: calc(var(--unit)*2) solid #000;
}

hr {
  border-top: 2px solid #000;
}

.normal {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 200;
}

.underline {
  text-decoration: underline;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

/* OVERRIDES */

img, p, span, div {
  margin: 0;
}

a.tiny-project, a.project, a.article, .icon-group > a {
  text-decoration: none;
  color: inherit;
}

/* TODO
  - figure out why the hover isn't working on the tiny project
  - add hover fade animation
*/

a:hover {
  opacity: 0.6;
}

/* GRID SYSTEM */

.header { grid-area: header }
.icon-group {grid-area: icons}
.footer {grid-area: footer }
.g1 { grid-area: g1}
.g1-tiny {grid-area: g1-tiny;}
.g1-article { grid-area: g1-article }
.g2-article { grid-area: g2-article }
.g3 { grid-area: g3 }
.g3-tiny { grid-area: g3-tiny }
a.article > img { grid-area: a-img }
a.article > div { grid-area: a-title }

.landing-grid {
  display: grid;
  /* width: 86%; */
  max-width: 1250px;
  margin-left: 7%;
  margin-right: 10%;
  margin-top: calc(var(--unit)*20);
  grid-template-columns: 1fr 5fr 1fr 1fr 3fr;
  grid-column-gap: calc(var(--unit)*4);
  grid-row-gap: calc(var(--unit)*20);
  grid-template-areas:
  "header header        header     header       icons       "
  ".      g1            g1         .            g1-tiny     "
  ".      g1-article    g2-article g2-article   g2-article  "
  ".      g3            g3         .            g3-tiny     "
  ".      footer        footer     footer       footer      ";
}

.icon-group {
  text-align: right;
}

.icon-group > a {
  padding: 0 10px;
}

.project {
  display: block;
}

.project > img {
  margin-bottom: var(--unit);
}

.project > .gif-container {
  margin-bottom: calc(var(--unit)*2);
}

.project:first-child {
  margin-bottom: calc(var(--unit)*20);
}

.project h3 {
  margin-bottom: var(--unit);
}

.g1-tiny {
  align-self: center;
}

.g3-tiny {
  margin-top: calc(var(--unit)*18);
}

a.article {
  display: grid;
  margin: 20px 0;
  grid-template-columns: 100px auto;
  grid-column-gap: calc(var(--unit)*3);
  grid-template-areas:
  "a-img a-title"
}

a.article > div {
  align-self: center;
}

.spacer {
  height: calc(var(--unit)*15);
  background-color: none;
}

.gif-container {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  height: 335px;
  background-color: #eb8a78;
  background-color: #ffe5bf;
  margin-bottom: var(--unit);
}

.gif-container > img {
  align-self: flex-end;
}

.footer {
  text-align: center;
  font-weight: 600;
  margin-bottom: 150px;
}

@media (max-width : 800px) {
  .landing-grid {
    display: grid;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: calc(var(--unit)*20);
    grid-template-columns: 100%;
    grid-column-gap: calc(var(--unit)*4);
    grid-row-gap: calc(var(--unit)*10);
    grid-template-areas:
    "icons"
    "header"
    "g1"
    "g1-tiny"
    "g1-article"
    "g2-article"
    "g3       "
    "g3-tiny  "
    "footer";
  }

  .spacer {
    display: none;
  }

  .g1-tiny > .bite {
    display: inline-block;
    width: 48%;
    margin-bottom: calc(var(--unit)*10);
    align-self: flex-start;
  }

  .gif-container {
    min-height: 225px;
    max-height: 300px;
  }

  .g3 > .project {
    margin-bottom: 0;
  }

  .g3-tiny{
    margin: 0;
  }

}
